[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TSE"]
	path = TSE
	url = https://github.com/cran/TSE
[submodule "TSEind"]
	path = TSEind
	url = https://github.com/cran/TSEind
[submodule "TSEwgt"]
	path = TSEwgt
	url = https://github.com/cran/TSEwgt
[submodule "WgtEff"]
	path = WgtEff
	url = https://github.com/cran/WgtEff
